{%- set default_language = 'en' %}
{%- set languages = {
  'en':{
    'and': 'and',
    'in': 'in',
    'ago': 'ago',
    'now': 'now',
    'lose': 'lose',
    'gain': 'gain',
    'time':{
      'year': [
        'yr',
        'year',
        'years',
      ],
      'week': [
        'wk',
        'week',
        'weeks',
      ],
      'day': [
        'd',
        'day',
        'days',
      ],
      'hour': [
        'hr',
        'hour',
        'hours',
      ],
      'minute': [
        'min',
        'minute',
        'minutes',
      ],
      'second': [
        'sec',
        'second',
        'seconds',
      ],
    },
    'delta':{
      'today': 'today',
      'tomorrow': 'tomorrow',
      'yesterday': 'yesterday',
    }
  }
} %}
